@page
@model IndexModel

@{
    Layout = "./Shared/Layouts/_LoginLayout.cshtml";
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-6 col-md-4">
            <form method="post" class="text-center" onsubmit="redirectToHomePage(event)">
                <div class="form-group">
                    <label for="DTU_mail">DTU mail</label>
                    <input type="text" id="DTU_mail" name="DTU_mail" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="DTU_password">DTU Password</label>
                    <input type="password" id="DTU_password" name="DTU_password" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
    
<script>
    function redirectToHomePage(event) {

        //Prevents the form from submitting normally
        event.preventDefault();

        // Redirect to the home page
        if (@Model.GetAccess()) {
            window.location.href = "/home";
        }
    }
</script>
