@page
@model LoginModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Data Security</h2> 
<p>At QuizProgram, we take several measures to ensure the security of your data.</p>
<ul> 
    <li><strong>Secure Storage:</strong> Your data is securely stored on servers with limited access. </li> 
    <li><strong>User Authentication:</strong> All features on our website necessitate user authentication. We employ secure login methods to confirm users' identities and prevent unauthorized access to their accounts.</li> 
</ul>
