@page
@model IndexModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Data Security</h2>
<p>At QuizProgram we a ensured some ways to secure your data.</p>
<ul>
    <li><strong>Secure Storage:</strong> Your data is stored securely on servers with restricted access.</li>
    <li><strong>User Authentication:</strong> All features of our website require user authentication. We utilize secure login mechanisms to verify the identity of users and prevent unauthorized access to their accounts.</li>
</ul>
